.tempDiv {
    background-color: #fdefce;
    border-radius: 25px;
}

.mainIcon {
    height: 10em;
}

.temp {
    font-size: 6em;
}

.unitSelect {
    font-size: 1.6em;
    font-weight: 600;
}

.skyline {
    height: 20em;
}