.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: (100vh - 100px); */
}

.temp::after {
    content: "°";
    font-size: 0.5em;
    position: relative;
    bottom: 45px;
    left: 5px;
}